/* Styles pour la barre de recherche */
.search-bar {
  width: 200px;
  margin-right: 10px;
}

/* Styles pour le bouton de création */
.create-button {
  margin-left: 10px;
}

.create-button1 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Styles pour le bouton "Find User" */
.fin-button {
  background-color: #4CAF50; /* Vert */
  color: white;
}

/* Styles pour le bouton d'édition */
.edit-button {
  background-color: #FFD700; /* Or */
}

/* Styles pour le bouton de suppression */
.delete-button {
  background-color: #FF6347; /* Rouge clair */
}

/* Styles pour la table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Styles pour les cellules d'en-tête et de données */
th, td {
  border: 1px solid #ddd; /* Gris clair */
  padding: 15px;
  text-align: left;
}

/* Styles pour les cellules d'en-tête */
th {
  background-color: #f2f2f2; /* Gris plus clair */
}

/* Style pour les boutons Add et Remove Genre */
.add-button, .remove-button {
  margin-top: 6px;
}

/* Style pour le formulaire de création */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-field {
  width: calc(50% - 5px); /* Diviser l'espace en deux avec un petit espace entre */
}

/* Style pour le bouton de soumission */
.submit-button {
  margin-top: 20px;
}
