.edit-button {
  background-color: darkolivegreen;
}
.delete-button {
  background-color : coral;
}
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
}

.fin-button {
  background-color: seagreen;
  color: white;
}

